<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- <bean name="mycar" class="com.ty.Car" init-method="init" destroy-method="destroy"> -->
	<bean name="mycar" class="om.jsp.spring.Car" init-method="haii"
		destroy-method="bye">
		<property name="brand" value="BMW"></property>
		<property name="cost" value="5000000.0"></property>
	</bean>

</beans>