<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


	<bean class="com.jsp.AWA.Address" name="address">
		<constructor-arg name="state" value="karnataka"></constructor-arg>
		<constructor-arg name="country" value="india"></constructor-arg>
	</bean>

	<bean class="com.jsp.AWA.Person" name="emp" autowire="constructor">
		<constructor-arg name="id" value="101"></constructor-arg>
		<constructor-arg name="name" value="ARJUN"></constructor-arg>
		<constructor-arg name="manager" value="SHIVA"></constructor-arg>
	</bean>

</beans>